
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Karla:wght@500&family=Oxygen&display=swap');

:root {
	--light-background-color: white;
	--light-text-color: black;

	--dark-background-color: black;
	--light-text-color: white;

	--accent-color-red: rgb(226, 53, 105);
}

@media (prefers-color-scheme: light) {

	body {
		background: var(--light-background-color);
	}

	a {
		color: black;
	}

}

@media (prefers-color-scheme: dark) {

	body {
		background: var(--dark-background-color);
	}

	a {
		color: white;
	}

}

a  {
	text-decoration-color: var(--accent-color-red);
}

.home-page-grid-container{
	display: grid;
	grid-template-columns: auto auto;
	gap: 25px;
	position: absolute;
	align-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home-page-grid-item{
	text-align: center;
	font-family: 'Hind Madurai', sans-serif;
	font-size: 24px;
}

