body {
	margin: 0px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header {
	padding-top: 25px;
	padding-left: 2.5%;
}

#description {
	padding-left: 5%;
	max-width: 100%;
	padding-right: 5%
}