
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Karla:wght@500&family=Oxygen&display=swap');

:root {
	--background-color: #011627;
	--background-color-light: hsl(207, 95%, 12%);
	--accent-color: #e5446d;
	--text-color: #fbfbff;
}